* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f4f4;
  padding: 40px 20px;
}

.container {
  max-width: 700px;
  margin: auto;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 25px;
}

.add-todo {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

#todoInput {
  flex: 1;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

#addBtn {
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  background: rgb(12, 143, 190);
  color: white;
  cursor: pointer;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 6px;

  margin-bottom: 10px;
}

.todo-title {
  flex: 1;
  margin-right: 15px;
}

.todo-actions {
  display: flex;
  gap: 8px;
}

.todo-actions button {
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.edit-btn {
  background-color: #f59e0b;
  color: white;
}

.delete-btn {
  background: #dc2626;
  color: white;
}
